
body {
    font-family: 'Roboto', sans-serif;  
    color: #212121;    
}

:root {
    --main-title-color:#FFFFFF;
    --second-title-color:#212121;
    --accent-color: #2196F3;
    --menu-link-color: #212121;
    --header-link-color: #757575;
    --specify-text-color:#757575;
    --teem-name-color: #212121;
    --teem-description-color:#757575;
    --portfolio-description-color:#212121;
    --portfolio-text-color:#757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.d-flex {
    display: flex;
}

/*-----HEADER-HERO-----*/
.header-hero,
.header-portfolio {
    padding: 24px 0 25px;    
}

.logo, .logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #000;
}

.logo-blue {
    color: var(--accent-color);
}

.menu-list {
   display: flex;
}

.header-link {
    display: flex;
}

.menu-link {       
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-color); 
    display: block;
    padding: 8px 23px 8px 19px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

 .header-mail,
 .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/*-----head-section-----*/

.head-section{
    padding: 200px 0 200px;
    background: #2F303A;
}

.header-title {       
    font-weight: 900;
    font-size: 44px;
    text-align: center;    
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-btn {
    font-family: inherit;    
    color: #FFFFFF;      
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;      
    letter-spacing: 0.06em;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.header-btn:hover,
.header-btn:focus {
    background: #188CE8;  
}

/*-----specifics section-----*/

.specifics {
    padding:94px 76px;
}

.specify-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}

.specify-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* -----employment section------ */

.employment {
    padding: 76px 0 94px;
}
.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;   
}

.teem-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--teem-name-color);  
}

.teem-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;  
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--teem-description-color);
}

/* -----footer----- */
.footer {
    padding: 60px 0 60px;
    background: #2F303A;
}

.logo-footer {
    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: #FFFFFF;
}

/* -----------------PORTFOLIO--------------- */
.portfolio-btn {    
    padding: 6px 22px;
    background: #F5F4FA;      
    border-radius: 4px;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background: var(--accent-color);
}

.portfolio-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--portfolio-description-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--portfolio-text-color);
}



   
 




